@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to my Internship Tracker web App!</h1>
    <hr />
    <div>
        <h3>A little about me...</h3>
        <p>
            I'm a student studying software engineering technologies at the Oregon Institute of Technology.
            Im aspriring to be a backend engineer with the ultimate dream of being able to work on aerospace software.
        </p>
    </div>
    <br />  
    <div>
        <h3>What is this?</h3>
        <p>
            This web application is a streamlined database meant to help ease the endeavor of finding an internship.
            I first thought of this project after using excel to track my applications for internship. 
            After finding out that it's not the most user friendly and fast way to track my applications, I decided to make this web app (plus a little learning too).
        </p>
    </div>
    <br />
    <div>
        <h3>How to use it?</h3>
        <p>
            To get started, navigate to the "Applications" tab on the top navigation bar.
            From there you can create a new application by clicking the "Create New" button.
            You can also view your existing applications and edit them as needed. 
            There are also some fastrack buttons that help ease the process of updating your application status such as delete and set rejected (I sadly felt a heavy need to add this).
        </p>
    </div>
    <br />
    <div>
        <h3>Enjoy!</h3>
        <p>
            If theres anything else someone would thing would be beneficial I would leave to hear new ideas.
            Thanks for visiting my project!
        </p>
    </div>
</div>
